.hero {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 80vh;
  padding-top: 15vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 3.3em;
  font-weight: 400;
  margin-bottom: 0.4em;
  letter-spacing: 0.1em;
}

.intro-para {
  text-align: justify;
  font-size: 1.1em;
}

.Typewriter__cursor {
  color: var(--color-bright-accent);
}

.theme-dark {
  caret-color: var(--color-dark-accent);
  color: var(--color-dark-font);
}

.theme-light {
  caret-color: var(--color-bright-accent);
  color: var(--color-bright-font);
}

.email-button {
  padding-top: 4em;
  /* max-width: 15em; */
}

.btn-mail {
  padding: 1em;
  border-radius: 1.7em;
  font-weight: 500;
  font-size: 1.1em;
}

.btn-mail.theme-dark {
  background: var(--color-dark-bg);
  border: 2px solid var(--color-dark-accent);
  color: var(--color-dark-font);
}

.btn-mail.theme-light {
  background: var(--color-bright-bg);
  border: 2px solid var(--color-bright-accent);
  color: var(--color-bright-font);
}

.btn-mail:hover {
  cursor: pointer;
}

.btn-mail.theme-dark:hover {
  box-shadow: 0 0 0.5em var(--color-dark-transparent-low) inset;
}

.btn-mail.theme-light:hover {
  box-shadow: 0 0 0.5em var(--color-bright-transparent-low) inset;
}

@media only screen and (max-width: 640px) {
  .hero {
    width: 80vw;
  }
  .hero-title {
    font-size: 1.8em;
  }
  .intro-para {
    text-align: start;
    font-size: 0.9em;
  }
}
