:root {
  --nav-anim-time: 2s;
}

.nav-root.view-on {
  display: block;
}

.nav-root.view-off {
  display: none;
}

.nav-top {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  width: calc(100vw - 3.55em);
  height: 3.3em;
  z-index: 100;
  background: var(--color-dark-accent);
  color: var(--color-dark-bg);
  transform: translateX(-100vw);
  transition: transform var(--nav-anim-time) linear;
}

.nav-top.theme-dark,
.nav-right.theme-dark {
  background: var(--color-dark-accent);
  color: var(--color-dark-bg);
}

.nav-top.theme-light,
.nav-right.theme-light {
  background: var(--color-bright-accent);
  color: var(--color-bright-bg);
}

.nav-core {
  text-align: center;
  padding: 3.5px;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}

.nav-core.view-off {
  display: none;
}

.nav-core-icon-wrapper {
  color: var(--color-dark-accent);
  transform: rotate(-360deg);
  transition: transform var(--nav-anim-time) linear,
    color var(--nav-anim-time) step-end;
  padding: 0 4px;
}

.nav-core-icon:hover,
.nav-theme-icon:hover,
.nav-chat-icon:hover {
  cursor: pointer;
}

.nav-core-icon.nav-disabled:hover {
  cursor: not-allowed;
}

.nav-right {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 100vh;
  width: 3.55em;
  z-index: 100;
  background: var(--color-dark-accent);
  color: var(--color-dark-bg);
  transform: translateY(-100vh);
  transition: transform var(--nav-anim-time) linear;
}

.nav-page-elem-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.nav-theme-icon {
  padding-bottom: 0.5em;
}

.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext-left,
.tooltip .tooltiptext-bottom {
  visibility: hidden;
  width: 100px;
  font-size: 0.7em;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
}

.tooltip .tooltiptext-left {
  right: 100%;
  z-index: 102;
}

.tooltip .tooltiptext-bottom {
  top: 135%;
  left: -110%;
  z-index: 102;
}

.tooltip .tooltiptext-left.theme-dark,
.tooltip .tooltiptext-bottom.theme-dark {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-font);
}

.tooltip .tooltiptext-left.theme-light,
.tooltip .tooltiptext-bottom.theme-light {
  background-color: var(--color-bright-bg);
  color: var(--color-bright-font);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext-left,
.tooltip:hover .tooltiptext-bottom {
  visibility: visible;
}

@media only screen and (max-width: 640px) {
  .nav-right {
    display: none;
  }
  .nav-top {
    width: 100vw;
  }
}
