:root {
  --nav-anim-time: 2.5s;
  --nav-elem-anim-time: 1s;
}

.nav-top {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 0;
  left: 0;
  width: calc(100vw - 3.55em);
  height: 3.3em;
  z-index: 100;
  background: var(--color-dark-accent);
  color: var(--color-dark-bg);
  transform: translateX(-100vw);
  transition: transform var(--nav-anim-time) linear;
}

.nav-core {
  text-align: center;
  padding: 3.5px;
  justify-content: center;
  position: fixed;
  right: 0;
  z-index: 101;
}

.nav-core-icon-wrapper,
.nav-theme-icon-wrapper {
  background: rgba(0, 0, 0, 0);
  width: fit-content;
  height: fit-content;
}

.nav-core-icon-wrapper {
  color: var(--color-dark-accent);
  transform: rotate(-360deg);
  transition: transform var(--nav-anim-time) linear;
  padding: 0 4px;
}

.nav-theme-icon-wrapper {
  display: none;
  transition: display var(--nav-elem-anim-time) linear;
}

.nav-core-icon:hover,
.nav-theme-icon:hover,
.nav-chat-icon:hover {
  cursor: pointer;
}

.nav-right {
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 100vh;
  width: 3.55em;
  z-index: 100;
  background: var(--color-dark-accent);
  color: var(--color-dark-bg);
  transform: translateY(-100vh);
  transition: transform var(--nav-anim-time) linear;
}

.nav-page-elem-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}

.nav-chat-icon {
  padding-bottom: 0.5em;
}
