.global-modal {
  box-sizing: border-box;
  position: fixed;
  width: 95vw;
  height: 95vh;
  top: 2.5vh;
  left: 2.5vw;
  background: var(--color-bright-transparent-low);
  border-radius: 5px;
  border: 1px solid var(--color-dark-transparent);
  z-index: 103;
}

.modal-close-btn {
  box-sizing: border-box;
  position: absolute;
  padding: 0.6em 1em;
  right: 0;
  top: 0;
  color: var(--color-dark-alert);
}

.modal-close-btn:hover {
  cursor: pointer;
}
