.portfolio-root {
  width: 80vw;
  margin: 0 auto;
  padding: 4em 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "elem1 elem1 elem2 elem3"
    "elem4 elem5 elem2 elem6"
    "elem4 elem7 elem7 elem8";
  grid-auto-columns: minmax(10em, auto);
  grid-auto-rows: minmax(14em, auto);
  gap: 0.5em;
  transition: filter 0.7s ease-in;
}

.portfolio-elem-wrapper {
  border-radius: 7px;
}

.portfolio-elem-1 {
  grid-area: elem1;
  background: rgb(61, 236, 113);
  /* min-width: 500px; */
}

.portfolio-elem-2 {
  grid-area: elem2;
  background: rgb(79, 0, 255);
}

.portfolio-elem-3 {
  grid-area: elem3;
  background: rgb(29, 141, 145);
  /* min-width: 250px; */
}

.portfolio-elem-4 {
  grid-area: elem4;
  background: rgb(255, 0, 0);
}

.portfolio-elem-5 {
  grid-area: elem5;
  background: rgb(202, 216, 72);
}

.portfolio-elem-6 {
  grid-area: elem6;
  background: rgb(255, 102, 0);
}

.portfolio-elem-7 {
  grid-area: elem7;
  background: rgb(56, 119, 255);
}

.portfolio-elem-8 {
  grid-area: elem8;
  background: rgb(255, 0, 221);
}

.portfolio-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}

.portfolio-vertical-elem {
  font-size: 1.5em;
  font-weight: 500;
}

.portfolio-elem-2 > .portfolio-elem > .portfolio-elem-title,
.portfolio-elem-4 > .portfolio-elem > .portfolio-elem-title {
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .portfolio-root {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "elem1 elem1 elem2"
      "elem3 elem5 elem2"
      "elem4 elem6 elem8"
      "elem4 elem7 elem7";
  }
}

@media only screen and (max-width: 900px) {
  .portfolio-root {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "elem1 elem1"
      "elem2 elem3"
      "elem2 elem5"
      "elem7 elem7"
      "elem6 elem4"
      "elem8 elem4";
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-root {
    grid-template-columns: auto;
    grid-template-areas:
      "elem1"
      "elem2"
      "elem2"
      "elem3"
      "elem5"
      "elem6"
      "elem4"
      "elem4"
      "elem7"
      "elem8";
  }
}
