/* Globals */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

:root {
  --color-dark-bg: #121212;
  --color-dark-font: #ededed;
  --color-dark-accent: #915cceb0;
  --color-dark-transparent: rgba(233, 229, 229, 0.5);
  --color-dark-transparent-low: rgba(184, 185, 199, 0.89);
  --color-dark-alert: #964c58c0;
  --color-dark-gradient: linear-gradient(
    31deg,
    rgba(0, 0, 0, 0.7) 7%,
    rgba(80, 80, 80, 0.7) 65%,
    rgba(160, 160, 160, 0.7) 100%
  );

  --color-light-bg: #cdcddd;
  --color-light-font: #121212;
  --color-light-accent: #5c66f3b0;
  --color-light-transparent: rgba(50, 50, 50, 0.5);
  --color-light-transparent-low: rgba(43, 43, 51, 0.9);
  --color-light-alert: #ac142fc0;
  --color-light-gradient: linear-gradient(
    211deg,
    rgba(30, 30, 30, 0.7) 7%,
    rgba(100, 100, 100, 0.7) 35%,
    rgba(160, 160, 160, 0.7) 100%
  );
}

html {
  scroll-behavior: smooth;
  background: var(--color-dark-bg);
}

html:focus {
  outline: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  color: var(--color-primary-font);
  background: var(--color-primary-bg);
  height: 100%;
  width: 100%;
}

.blur-all {
  filter: blur(4px);
}
